<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.tianglhtg.bxy.dao.QigScanDao">
        <select id="selectFuSelect" resultType="com.tianglhtg.bxy.entity.DepartMent">
             select
                id,
                depart_name departName,
                depart_pid departPid
             from sys_department
             where depart_pid = 0
        </select>

        <select id="selectSonSelect" parameterType="java.lang.String" resultType="com.tianglhtg.bxy.entity.DepartMent">
            select
                id,
                depart_name departName,
                depart_pid departPid
             from sys_department
             where depart_pid = #{fuNumber}
        </select>
        
        
        <select id="selectBigRules" resultType="com.tianglhtg.bxy.entity.Rules">
             select
                id,
                rules_name rules_big_name
             from qig_rules_bigcategory
        </select>

        <select id="selectSmallRules" parameterType="java.lang.String" resultType="com.tianglhtg.bxy.entity.Rules">
            select
                id,
                rules_big_name,
                rules_small_name,
         		rules_pid
             from qig_rules_smallcategory
             where rules_pid = #{bigNumber}
        </select>
        
        
        
         <insert id="insertData" parameterType="com.tianglhtg.bxy.entity.InsertAdvise" >
            insert into qig_advise (depart_ment,depart_ment_son,
            						flow_name,advise_yij,submit_person,
            						tele_phone,create_time,depart_ment_fu_name,
            						depart_ment_son_name,advise_status,rules_small,rules_big,
            						rules_small_name,rules_big_name) 
            values (#{depart_ment},
            		#{depart_ment_son},
            		#{flow_name},
            		#{advise_yij},
            		#{submit_person},
            		#{tele_phone},
            		STR_TO_DATE(#{create_time},'%Y-%m-%d %H:%i:%s'),#{depart_ment_fu_name},
            		#{depart_ment_son_name},
            		'未查看',
            		#{rules_small},
            		#{rules_big},
            		#{rules_small_name},
            		#{rules_big_name}
            		)
        </insert>
        
    </mapper>
